<a href="https://colab.research.google.com/github/hyacinth-lab/KamXproject/blob/main/Copy_of_Regression_Analysis_in_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CODING TASK #1: IMPORT LIBRARIES/DATASETS

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Read the CSV file
university_df = pd.read_csv("university_admission.csv")

In [3]:
# Load the top 6 instances
university_df.head(6)

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admission
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

In [4]:
# Load the bottom 6 instances
university_df.tail(6)

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admission
994,301,99,3,2.5,2.0,8.45,1,0.68
995,332,108,5,4.5,4.0,9.02,1,0.87
996,337,117,5,5.0,5.0,9.87,1,0.96
997,330,120,5,4.5,5.0,9.56,1,0.93
998,312,103,4,4.0,5.0,8.43,0,0.73
999,327,113,4,4.5,4.5,9.04,0,0.84

In [7]:
# Display the feature columns
university_df.columns

Index(['GRE_Score', 'TOEFL_Score', 'University_Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance_of_Admission'],
      dtype='object')

In [6]:
# Check the shape of the dataframe
university_df.shape

(1000, 8)

In [ ]:
# Check if any missing values are present in the dataframe
university_df.isnull().sum()

In [ ]:
# university_df = university_df.dropna()

In [ ]:
university_df.dtypes

**PRACTICE OPPORTUNITY #1 [OPTIONAL]:**
- **What is highest, average and lowest TOEFL score in this dataset?**

In [8]:
university_df.describe()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admission
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000
mean,316.472000,107.193000,3.114000,3.374000,3.484000,8.57644,0.560000,0.72174
std,11.289494,6.079368,1.142939,0.990507,0.924986,0.60451,0.496635,0.14107
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.80000,0.000000,0.34000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.12750,0.000000,0.63000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.56000,1.000000,0.72000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.04000,1.000000,0.82000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.92000,1.000000,0.97000

In [9]:
university_df['TOEFL_Score'].describe()

count    1000.000000
mean      107.193000
std         6.079368
min        92.000000
25%       103.000000
50%       107.000000
75%       112.000000
max       120.000000
Name: TOEFL_Score, dtype: float64

# CODING TASK #2: PERFORM EXPLORATORY DATA ANALYSIS AND VISUALIZATION

In [ ]:
# check if there are any Null values
sns.heatmap(university_df.isnull(), yticklabels = False, cbar = False, cmap="Blues")
plt.show()

In [ ]:
university_df.hist(bins = 30, figsize = (20,20), color = 'r');
plt.show()

In [ ]:
sns.pairplot(university_df)
plt.show()

In [ ]:
for i in university_df.columns:
  plt.figure(figsize = (13, 7))
  sns.scatterplot(x = i, y = 'Chance_of_Admission', hue = "University_Rating", hue_norm = (1,5), data = university_df)
  plt.show()

**PRACTICE OPPORTUNITY #2 [OPTIONAL]:**
- **Plot the correlation matrix**
- **Comment on the correlation matrix**

# CODING TASK #3: PREPARE THE DATA BEFORE MODEL TRAINING

In [ ]:
university_df.columns

In [ ]:
X = university_df.drop(columns = ['Chance_of_Admission'])

In [ ]:
y = university_df['Chance_of_Admission']

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
X = np.array(X)
y = np.array(y)

In [ ]:
# reshaping the array from (1000,) to (1000, 1)
y = y.reshape(-1,1)
y.shape

In [ ]:
# scaling the data before training the model
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# scaler_x = StandardScaler()
# X = scaler_x.fit_transform(X)
# scaler_y = StandardScaler()
# y = scaler_y.fit_transform(y)

**PRACTICE OPPORTUNITY #3 [OPTIONAL]:**
- **Split the data into 25% Testing and 75% Training**
- **Double check that the split was successful by getting the shape of both the training and testing datasets**
- **Why did we comment out the data scaling code cell?**

# CODING TASK #4: TRAIN & EVALUATE AN XG-BOOST ALGORITHM

In [ ]:
!pip install xgboost

In [ ]:
# Train an XGBoost regressor model

import xgboost as xgb

model = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.1, max_depth = 2, n_estimators = 100)

model.fit(X_train, y_train)

In [ ]:
# predict the score of the trained model using the testing dataset

result = model.score(X_test, y_test)
print("Accuracy : {}".format(result))

In [ ]:
# make predictions on the test data
y_predict = model.predict(X_test)

In [ ]:
y_predict

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from math import sqrt

RMSE = float(format(np.sqrt(mean_squared_error(y_test, y_predict)),'.3f'))
MSE = mean_squared_error(y_test, y_predict)
MAE = mean_absolute_error(y_test, y_predict)
r2 = r2_score(y_test, y_predict)

print('RMSE =',RMSE, '\nMSE =',MSE, '\nMAE =',MAE, '\nR2 =', r2)

**PRACTICE OPPORTUNITY #4 [OPTIONAL]:**
- **Retrain the model with less 'max_depth'**
- **Comment on the results**

# FINAL CAPSTONE PROJECT OVERVIEW

- In this hands-on project, we will train a Linear Regression model to predict life expectancy.
- This data was initially obtained from World Health Organization (WHO) and United Nations Website. Data contains features like year, status, life expectancy, adult mortality, infant deaths, percentage of expenditure, alcohol etc.




> 1.   Import the Life_Expectancy_Data.csv dataset using Pandas
2. Check if missing values exist in the data, perform feature engineering to eliminate or fill missing values
3. What is the memory usage of the DataFrame
4. List the minimum, average and maximum life expectancy
5. Plot the histogram, pairplot and correlation heatmap for all features
6. Plot the scatterplot between Income composition of resources and life expectancy, use status for hue attribute. Comment on the plot
7. Plot the scatterplot between Schooling and life expectancy, use status for hue attribute. Comment on the scatterplot. Comment on the plot
8. Split the data into 80% for training and 20% for testing
9. Train an XG-boost algorithm
10. Assess trained regression model performance, what is R2?
11. Plot trained model predictions vs. ground truth output

# EXCELLENT JOB!

# FINAL CAPSTONE PROJECT SOLUTION

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# read the csv file
life_expectancy_df = pd.read_csv('Life_Expectancy_Data.csv')
life_expectancy_df

In [ ]:
# check if there are any Null values
sns.heatmap(life_expectancy_df.isnull(), yticklabels = False, cbar = False, cmap="Blues")

In [ ]:
# Check the dataframe info
life_expectancy_df.info()

In [ ]:
# Statistical summary of the dataframe
life_expectancy_df.describe()

In [ ]:
# Plot the histogram
life_expectancy_df.hist(bins = 30, figsize = (20, 20), color = 'r');

In [ ]:
# Plot pairplot
plt.figure(figsize = (20,20))
sns.pairplot(life_expectancy_df)

In [ ]:
life_expectancy_df

In [ ]:
# Note that there is space after 'Life expectancy '
sns.scatterplot(x = 'Income composition of resources', y = 'Life expectancy ', hue = 'Status', data = life_expectancy_df);

In [ ]:
# Note that there is space after 'Life expectancy '
sns.scatterplot(x = 'Income composition of resources', y = 'Life expectancy ', data = life_expectancy_df);

In [ ]:
# Note that there is space after 'Life expectancy '
sns.scatterplot(x = 'Schooling', y = 'Life expectancy ', data = life_expectancy_df);

In [ ]:
# Note that there is space after 'Life expectancy '
sns.scatterplot(x = 'Schooling', y = 'Life expectancy ', hue = 'Status', data = life_expectancy_df);

In [ ]:
# Plot the correlation matrix

plt.figure(figsize = (20,20))
corr_matrix = life_expectancy_df.corr()
sns.heatmap(corr_matrix, annot = True)

In [ ]:
life_expectancy_df

In [ ]:
# Checking the unique values in country to consider it as a categorical variable
life_expectancy_df['Status'].nunique()

In [ ]:
# Perform one-hot encoding
life_expectancy_df = pd.get_dummies(life_expectancy_df, columns = ['Status'])

In [ ]:
life_expectancy_df

In [ ]:
# Check the number of null values for the columns having null values
life_expectancy_df.isnull().sum()[np.where(life_expectancy_df.isnull().sum() != 0)[0]]

In [ ]:
# Since most of the are continous values we fill them with mean
life_expectancy_df = life_expectancy_df.apply(lambda x: x.fillna(x.mean()),axis=0)

In [ ]:
life_expectancy_df.isnull().sum()[np.where(life_expectancy_df.isnull().sum() != 0)[0]]

In [ ]:
# Create train and test data

X = life_expectancy_df.drop(columns = ['Life expectancy '])
y = life_expectancy_df[['Life expectancy ']]

In [ ]:
X

In [ ]:
y

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
# Convert the data type to float32

X = np.array(X).astype('float32')
y = np.array(y).astype('float32')

In [ ]:
# Only take the numerical variables and scale them
X

In [ ]:
# split the data into test and train sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.metrics import mean_squared_error, accuracy_score

In [ ]:
# Train an XGBoost regressor model

import xgboost as xgb
model = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.1, max_depth = 30, n_estimators = 100)
model.fit(X_train, y_train)

In [ ]:
model_accuracy = model.score(X_test, y_test)
model_accuracy

In [ ]:
# Make prediction

y_predict = model.predict(X_test)
y_predict

In [ ]:
# Plot the scaled result

plt.plot(y_test, y_predict, "^", color = 'r')
plt.xlabel('Model Predictions')
plt.ylabel('True Values')
plt.show()

In [ ]:
# Plot the KPIs

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from math import sqrt

k = X_test.shape[1]
n = len(X_test)
RMSE = float(format(np.sqrt(mean_squared_error(y_test, y_predict)),'.3f'))
MSE = mean_squared_error(y_test, y_predict)
MAE = mean_absolute_error(y_test, y_predict)
r2 = r2_score(y_test, y_predict)
adj_r2 = 1-(1-r2)*(n-1)/(n-k-1)

print('RMSE =',RMSE, '\nMSE =',MSE, '\nMAE =',MAE, '\nR2 =', r2, '\nAdjusted R2 =', adj_r2)

# PRACTICE OPPORTUNITIES SOLUTIONS

**PRACTICE OPPORTUNITY #1 SOLUTION:**
- **What is highest, average and lowest TOEFL score in this dataset?**

In [ ]:
university_df.describe()

**PRACTICE OPPORTUNITY #2 SOLUTION:**
- **Plot the correlation matrix**
- **Comment on the correlation matrix**

In [ ]:
corr_matrix = university_df.corr()

plt.figure(figsize = (12,12))
sns.heatmap(corr_matrix, annot = True)
plt.show()
# From the correlation matrix, it can be seen that, all parameters have positive correlation with chance of getting admission in to the university.

**PRACTICE OPPORTUNITY #3 SOLUTION:**
- **Split the data into 25% Testing and 75% Training**
- **Double check that the split was successful by getting the shape of both the training and testing datasets**

In [ ]:
# spliting the data into test and train sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

**PRACTICE OPPORTUNITY #4 SOLUTION:**
- **Retrain the model with less 'max_depth'**
- **Comment on the results**

In [ ]:
# Results with Max Depth = 5
# RMSE = 0.276
# MSE = 0.07632221319529037
# MAE = 0.17581288216704305
# R2 = 0.9290579776021098
# Adjusted R2 = 0.925560835652918

# Results with Max Depth = 2
# RMSE = 0.413
# MSE = 0.17077215477193608
# MAE = 0.2740720681769204
# R2 = 0.8412661069226667
# Adjusted R2 = 0.8334411967005446